extends layout

block content
  //Check for any ads being passed in from the server
  if (ads && ads.length)
    table
        thead
            th Name
            th Description
            th Price 
            th Update
            th Delete
        tbody
            //If there is ads, create a row and column for each ad
            each ad in ads
                tr
                    td= ad.name
                    td= ad.description
                    td= ad.Price
                    td 
                        a(href='/update/'+ad.id) Update
                    td
                        form(method="POST" action= "/delete/"+ad.id)
                            button(type="submit") Delete
  else
    h1 No ads!